.js_sale {
	.page-title {
		background: $light-grey-color;
		padding: 25px 0;
		@media (max-width: 767px){
			padding: 15px 0;
		}
		.container {
			@include flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			@include align-content;
			@media (max-width: 767px){
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;
				@include flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column;
			}
			.brandcum_title {
				color: $dark-color;
				font-size: $title + 4;
				font-weight: bold;
				margin-bottom: 0;
			}
			.breadcrumb {
				background: transparent;
				padding: 0;
				margin: 0;
				li {
					a {
						color: $dark-color;
						font-size: $font-body;
						position: relative;
						&:hover{
							color:$theme;
						}
						&.prod_link {
							color: $dark-color;
							cursor: auto;
						}
					}
					+ li {
						margin-left: 10px;
						a {
							padding-left: 15px;
							&:before{
								position:absolute;
								content: '\f105';
								font-family: 'FontAwesome';
								left: 0;
							}
						}
					}
					&.active, &:last-child {
						a {
							color: $theme;
						}
					}
				}
			}
		}
	}
	.sct_shop_box {
		margin-top: 40px;
		@media (max-width: 1023px){
			margin-top: 30px;
		}
		@media (max-width: 767px){
			margin-top: 20px;
		}
	}
	#products_grid_before {
		.prod_filer_title {
			font-size: $title + 4;
			font-weight: bold;
			color: $dark-color;
			margin-bottom: 41px;
			@media (max-width: 1199px){
				font-size: $title + 2;
				margin-bottom: 43px;
			}
			@media (max-width: 767px){
				margin-bottom:0;
			}
		}
		.nav-link {
			&.active{
				background: transparent;
				font-weight: bold;
				color: $dark-color;
			}
		}
		.category_nav {
			@media (max-width: 767px){
				margin-top: 16px;
			}
			li {
				a {
					padding-left: 0;
				}
				.nav-hierarchy {
					padding-bottom: 5px;
				}
			}
			> li.nav-item {
				border-bottom: 1px solid $light-grey-color;
				&:last-child{
					border-bottom:none;
				}
			}
		}
		.nav {
			li {
				width: 100%;
				display: block;
				a {
					color: $dark-color;
					padding-right: 0;
				}
				strong {
					margin-bottom: 5px;
					display: block;
				}
			}
		}
		.attrb_title {
			font-size: $title + 2;
			font-weight: bold;
			color: $dark-color;
			padding: 8px 0;
			border-top: 1px solid $dark-color;
			border-bottom: 1px solid $dark-color;
			@media (max-width: 1199px){
				font-size: $title;
			}
		}
		.product-brand {
			margin-top: 30px;
			.attrb_title {
				margin-bottom: 20px;
			}
		}
		.js_attributes {
			ul {
				list-style-type: none;
				ul {
					margin-left: 0;
				}
			}
		}
		select.form-control {
			border-radius: 0;
		}
		.price {
			margin-top: 15px;
			.price-slider {
				width: 95%;
				margin-top: 20px;
				@media (max-width: 575px){
					width: 90%;
					margin-left: auto;
					margin-right: auto;
				}
			}
			.irs-from, .irs-to, .irs-singlem, .irs-min, .irs-max, .irs-single {
				background: transparent;
				color: $dark-color;
				font-weight: bold;
				font-size: $font-body;
			}
			.irs-bar {
				height: 2px;
				border: none;
				background: $dark-color;
			}
			.irs-slider {
				width: 10px;
				height: 10px;
				top: 29px;
				&.from, &.to {
					background: #f9d8db;
				}
			}
			.irs-line {
				height: 2px;
			}
			.irs-with-grid {
				&:after{
					position:absolute;
					content: '';
					right: 0;
					top: 29px;
					width: 10px;
					height: 10px;
					border: 1px solid #AAA;
				    background: #DDD;
				    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(220,220,220,1) 20%,rgba(255,255,255,1) 100%);
				    border-radius: 27px;
				    -moz-border-radius: 27px;
				    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
				}
			}
		}
		#o_shop_collapse_category {
			.attrb_title {
				a {
					padding: 0;
				}
			}
			.nav-item {
				position: relative;
				.fa {
					position: absolute;
				    right: 0;
				    top: 11px;
				    color: $dark-color !important;
				    width: 20px;
				    height: 20px;
				    @include flex;
				    @include justify-align-content;
				    &.fa-chevron-right {
				    	&:before{
				    		content:'\f067';	
				    	}
				    }
				    &.fa-chevron-down {
				    	&:before{
				    		content:'\f068';	
				    	}
				    }
				}
				/*a {
					padding: 0;
				}*/
			}
			> .nav-item {
				border-bottom: 1px solid $light-grey-color;
				padding: 7px 0;
				&:last-child{
					border-bottom:0;
				}
			}
			.nav-hierarchy {
				.nav-item {
					.fa {
						top: 4px;
					}
				}
			}
		}
	}
	#theme_scita_products_grid_view, .related-products {
		.list-items {
			margin-bottom: 25px;
			@media (max-width: 575px){
				flex: 0 0 50%;
				max-width: 50%;
			}
			@media (max-width: 359px){
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
		.cs-product {
		    .pwp-img{
				position: relative;
				padding: 10px;
				border: 1px solid #eeeeee;
				a {
					@include flex;
					@include justify-align-content;
					height: 100%;
				}
		    	.btn_unpub {
		    		position: absolute;
				    left: 0;
				    bottom: 0;
				    right: 0;
				    margin: auto;
		    	}
		    	img {
					width: auto;
					max-height: 100%;
		    		// padding: 10px;
    				// border: 1px solid #eeeeee;
		    	}
		    	.img_lbl {
		    		position: absolute;
		    		right: 0;
		    		top: 0;
		    		padding: 20px 20px 5px;
		    		font-size: $font-body;
		    		color: $dark-color;
		    		font-weight: 600;
		    		&.red{
		    			border-bottom: 2px solid #d50042;
		    		}
		    		&.yellow{
		    			border-bottom: 2px solid #e2b11a;
		    		}
		    		&.brown{
		    			border-bottom: 2px solid #791014;
		    		}
		    		&.blue{
		    			border-bottom: 2px solid #5b5fff;
		    		}
		    	}
		    }
		    .pwd-desc {
		    	text-align: center;
		    	padding: 10px;
		    	position: relative;
		    	overflow: hidden;
		    	.o_website_rating_static {
		    		color: fade-out($dark-color, 0.5);
		    		font-size: $title;
		    	}
		    	.pwpi-title {
		    		margin-bottom: 2px;
		    		a {
		    			color: fade-out($dark-color, 0.5);
		    			font-size: $title;
		    		}
		    	}
		    	.price {
		    		font-size: $title;
		    		color: $dark-color;
		    		font-weight: bold;
		    		margin-bottom: 0;
		    	}
		    }
	    	.sct-hover-info {
	    		@include flex;
	    		@include justify-align-content;
	    		position: absolute;
			    left: 0;
			    top: 0;
			    right: 0;
			    bottom: 0;
			    margin: auto;
	    		opacity: 0;
	    		margin-left: -100%;
	    		background: fade-out($dark-color, 0.9);
	    		@include transition(all, 0.5s, ease);
	    		form {
	    			@include flex;
	    			@include justify-align-content;
	    		}
	    		.btn {
	    			background: #4e4e4e;
	    			width: 50px;
	    			height: 50px;
	    			border-radius: 50px;
	    			@include flex;
	    			@include justify-align-content;
	    			margin: 0 5%;
	    			@media (max-width: 1600px){
	    				width: 40px;
	    				height: 40px;
	    				margin: 0 3%;
	    			}
	    			span {
	    				font-size: 24px;
	    				color: $light-color;
	    				@include transition(all, 0.3s, ease);
	    				@media (max-width: 1600px){
	    					font-size: 18px;
	    				}
	    			}
	    			&:hover{
	    				background: #4e4e4e !important;
	    				span {
	    					font-size: 28px;
	    					@include transition(all, 0.3s, ease);
	    					@media (max-width: 1600px){
	    						font-size: 22px;
	    					}
	    				}
	    			}
	    		}
	    	}
	    	&:hover{
	    		.pink-box, .pwp-info {
	    			-webkit-filter: blur(2px);
	    			filter: blur(2px);
	    		}
	    		.sct-hover-info {
	    			margin-left: 0;
				    opacity: 1;
				    @include transition(all, 0.5s, ease);
	    		}
	    	}
	    }
	}
	#products_grid {
		&.list-view-box {
			.sct_list_box{
				margin-left: 0;
				margin-right: 0;
			}
			.list-items {
				flex: 0 0 100%;
				max-width: 100%;
				padding-left: 0;
				border: 1px solid $light-grey-color;
				.cs-product {
					.pwp-img {
						width: 25%;
						display: inline-block;
						vertical-align: top;
						@media (max-width: 1199px){
							width: 40%;
						}
						@media (max-width: 575px){
							width: 42%;
						}
					}
					.pwd-desc {
						width: 70%;
						display: inline-block;
						vertical-align: top;
						text-align: left;
						padding-top: 20px;
						padding-left: 20px;
						@media (max-width: 1199px){
							width: 58%;
						}
						@media (max-width: 1023px){
							padding-top: 10px;
							padding-left: 10px;
						}
						@media (max-width: 575px){
							width: 56%;
						}
						.pwpi-title {
							a {
								color: $dark-color;
								font-weight: bold;
							}
						}
						.text-info {
							margin: 10px 0;
							font-size: $title;
							color: $dark-color !important;
						}
					}
					.sct-hover-info {
						opacity: 1;
						position: static;
						margin-left: 0;
						background: transparent;
						-webkit-box-pack: start;
						-ms-flex-pack: start;
						justify-content: flex-start;
						-webkit-transition: none;
						-o-transition: none;
						transition: none;
						margin-top: 15px;
						.btn {
							margin: 0 20px 0 0;
						}
					}
					&:hover{
						.pink-box, .pwp-info {
							-webkit-filter: blur(0);
    						filter: blur(0);
						}
					}
				}
			}
		}
		.category-products {
			.toolbar-pager {
				@include flex;
				@include align-content;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
				margin-bottom: 30px;
				font-size: $font-body;
				color: $dark-color;
				@media (max-width: 767px){
					@include flexwrap;
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					justify-content: center;
				}
				.dropdown-toggle {
					background: transparent;
					color: $dark-color;
					line-height: 35px;
					padding: 0 15px;
					border: 1px solid fade-out($dark-color, 0.7);
					margin-left: 3px;
					cursor: pointer;
					@media (max-width: 1023px){
						padding: 0 10px;
						line-height: 30px;
					}
					&:hover{
						background:$theme;
						border: 1px solid transparent;
						color: $light-color;
					}
					&:focus{
						outline: 0;
						box-shadow: none;
					}
				}
				.dropdown-menu {
					padding: 0;
					border-radius: 0;
					li {
						a {
							color:$dark-color;
							font-size: $font-body;
							display: block;
							padding: 10px;
							@media (max-width: 1023px){
								padding: 5px;
							}
							&:hover{
								background:$theme;
								color: $light-color;
							}
						}
						+ li {
							a {
								border-top: 1px solid fade-out($dark-color, 0.7);
							}
						}
					}
					a {
						color:$dark-color;
						font-size: $font-body;
						display: block;
						padding: 10px;
						@media (max-width: 1023px){
							padding: 5px;
						}
						&:hover{
							background:$theme;
							color: $light-color;
						}
						+ a {
							border-top: 1px solid fade-out($dark-color, 0.7);
						}
					}
				}
				.pager_left {
					@media (max-width: 767px){
						margin-bottom: 15px;
					}
					.view-mode {
						font-size: 0;
						p {
							display: inline-block;
							vertical-align: middle;
							margin-bottom: 0;
							margin-right: 8px;
							text-transform: capitalize;
						}
						button {
							display: inline-block;
							vertical-align: middle;
							border: 1px solid fade-out($dark-color, 0.7);
							background: transparent;
							color: fade-out($dark-color, 0.5);
							line-height: 35px;
							padding: 0 10px;
							font-size: $font-body + 1;
							cursor: pointer;
							width: 37px;
							max-width: 37px;
							@media (max-width: 1023px){
								width: 30px;
								max-width: 30px;
								line-height: 30px;
								font-size: $font-body;
								padding: 0 5px;
							}
							&.shift_4_col_grid_view {
								img {
									margin-top: -4px;
									&.img_dark {
										display: none;
									}
								}
								&:hover, &.active {
									.img_dark {
										display: inline-block;
									}
									.img_gray {
										display: none;
									}
								}
								@media (max-width: 1023px){
									display: none;
								}
							}
							&.shift_grid_view {
								@media (max-width: 767px){
									display: none;
								}
							}
							&.active, &:hover {
								color:$dark-color;
							}
							&:focus{
								outline: 0;
							}
							+ button {
								margin-left: 0;
								border-left: none;
							}
						}
					}
				}
				.pager_right {
					@include flex;
					@include align-content;
					.paging_sort {
						margin-left: 30px;
						.dropdown-menu {
							@media (max-width: 1439px){
								left: auto !important;
								right: 0;
								-webkit-transform: none !important;
								-ms-transform: none !important;
								transform: none !important;
								top: 38px !important;
								@media (max-width: 1023px){
									top: 32px !important;
								}
							}
						}
					}
				}
			}
		}
		.products_pager {
			.pagination {
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;
			}
			.page-item {
				a {
					color: $dark-color;
					border-radius: 0;
				}
				&.active {
					.page-link {
						background: $theme;
						border-color: $theme;
						color: $light-color;
					}
				}
			}
		}
	}
}
#product_detail {
	margin-top: 50px !important;
	@media (max-width: 767px){
		margin-top: 30px !important;
	}
	.product_detail_img {
		padding: 10px;
		border: 1px solid #eeeeee;
	}
	#product_details {
		@media (max-width: 767px){
			margin-top: 30px;
		}
		h1 {
			font-size: $title + 4;
			font-weight: bold; 
		}
		.ratings {
			.o_website_rating_static {
				color: $dark-color;
			}
		}
		.review {
			padding-bottom: 10px;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			a {
				color: $theme;
				font-weight: bold;
				margin-top: 10px;
				display: inline-block;
			}
		}
		.js_product {
			padding-bottom: 15px;
			.js_add_cart_variants {
				.list-inline {
					margin-left: 0;
				}
				.variant_attribute {
					.js_variant_change {
						width: auto;
					}
				}
			}
			.product_price {
				margin-top: 0 !important;
			}
			.css_quantity {
				margin-bottom: 10px;
				.quantity {
					height: auto;
				}
				.input-group-prepend, .input-group-append {
					.btn {
						background: $dark-color;
						padding: 0.375rem 0.75rem;
						line-height: 1.5;
					}
				}
			}
			.o_add_wishlist, .o_add_compare, #add_to_cart, #buy_now {
				color: $light-color;
				font-size: $title;
				background: $dark-color;
				border: 1px solid transparent;
				border-radius: 0;
				line-height: 40px;
				padding: 0 15px;
				text-align: center;
				@media (max-width: 575px){
					margin-bottom: 5px;
				}
				&:hover, &:focus, &:active {
					color:$dark-color;
					background: transparent;
					border: 1px solid $dark-color;
				}
			}
			#buy_now {
				margin-top: 0 !important;
				display: inline-block !important;
			}
			.btn-primary {
				&:hover, &:focus{
					background:transparent;
					border: 1px solid $dark-color;
					box-shadow: none;
				}
			}
		}
		#product_full_spec {
			.sct_title {
				font-size: $title - 2;
				font-weight: bold;
			}
		}
	}
	.sct_product_side {
		.ug-gallery-wrapper {
			.ug-slider-wrapper {
				background: $light-grey-color; /*new enhancement 9-9*/
			}
			.ug-strip-panel { /*new enhancement 9-9*/
				background: #cecece;
				.product_detail_img {
					padding: 0;
				}
			}
		}
	}
}
.o_shop_discussion_rating {
	background-color: $light-grey-color;
	.sct_title {
		margin: 20px 0;
		padding-bottom: 10px;
		border-bottom: 1px solid fade-out($dark-color, 0.7);
	}
	.o_website_rating_card_container {
		.o_website_rating_static {
			color: $theme;
		}
		.o_website_rating_table_progress {
			.progress{
				background-color: #e4e4e4;
			}
			.o_rating_progressbar {
				background-color: $theme !important;
			}
		}
	}
}
.related-products {
	padding-bottom: 50px;
	.block-title {
		.fancy {
			margin-bottom: 25px;
			padding-bottom: 15px;
			border-bottom: 1px solid fade-out($dark-color, 0.7);
		}
	}
	@media (max-width: 767px){
		padding-bottom: 30px;
		margin-top: 30px;
	}
}
.o_portal_chatter_attachment_btn {
    height: auto;
    line-height: normal;
    background: transparent;
    border: none;
    font-size: 18px;
    color: $theme;
    padding: 0;
    margin-left: 10px;
    &:hover, &:active, &:focus{
        background:transparent !important;
        color: $theme !important;
        box-shadow: none !important;
    }
}
/*new enhancement 9-9*/
#product_detail {
	.sct-main-name-rating {
		@include flex;
		@include flexwrap;
		@include align-content;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		.sct-prod-name {
			margin-bottom: 0;
		}
		.o_website_rating_static {
			.fa {
				font-size: 16px;
			}
		}
	}
	.sct-main-description-div {
		margin: 20px 0;
		p {
			margin-bottom: 0;
		}
	}
	.js_main_product {
		.js_add_cart_variants {
			@include flex;
			@include flexwrap;
			flex-direction: unset !important;
			padding-bottom: 5px;
			border-bottom: 1px solid #dee2e6;
			.variant_attribute {
				flex: 0 0 50%;
				max-width: 50%;
				padding-bottom: 15px;
				display: block !important;
				select {
					width: 80% !important;
				}
				ul.list-unstyled {
					margin-left: 0;
					li {
						.col-form-label {
							padding-top: 0;
							padding-bottom: 5px;
							.radio_input {
								margin-right: 2px;
							}
						}
						&:last-child{
							.col-form-label {
								padding-bottom: 0;
							}
						}
					}
				}
				ul.list-inline {
					li {
						.css_attribute_color {
							border-width: 2px;
							width: 20px;
						    height: 20px;
						    margin-bottom: 0;
						    border-radius: 50%;
							.js_variant_change {
								height: auto;
								width: auto;
								margin: 0;
							}
							&.active {
								border-width: 2px;
							}
						}
					}
				}
			}
		}
		.sct-main-price-description {
			padding-top: 15px;
			padding-bottom: 25px;
			border-bottom: 1px solid #dee2e6;
			@include flex;
			@include flexwrap;
			@media (max-width: 1439px){
				padding-bottom: 10px;
			}
			.sct-price-option {
				flex:0 0 50%;
				max-width: 50%;
				#add_to_cart, #buy_now, .o_add_compare, .o_add_wishlist {
					@media (max-width: 1600px){
						font-size: 16px !important;
					}
					@media (max-width: 1439px){
						margin-bottom: 10px;
					}
				}
			}
			.sct-other-desciption {
				flex:0 0 50%;
				max-width: 50%;
				p {
					margin-bottom: 5px;
				}
			}
		}
	}
	.sct-main-brand-social {
		@include flex;
		@include flexwrap;
		@include align-content;
		margin-bottom: 20px;
		.sct_prod_brand_img {
			flex:0 0 50%;
			max-width: 50%;
			a {
				display: inline-block;
				height: 50px;
				img {
					max-height: 100%;
				}
			}
		}
		.product-detail-sharing-option {
			flex:0 0 50%;
			max-width: 50%;
			@include flex;
			@include flexwrap;
			a {
				vertical-align: middle;
				color: $dark-color;
				border: 1px solid $dark-color;
				border-radius: 50%;
				font-size: 16px;
				width: 30px;
				height: 30px;
				@include flex;
				@include flexwrap;
				@include justify-align-content;
				&:hover{
					color:$theme;
					border-color: $theme;
				}
			}
		}
	}
	@media (min-width: 768px) and (max-width: 1023px) {
		.sct_product_side{
			flex: 0 0 70%;
			max-width: 70%;
			margin: auto;
		} 
		#product_details {
			flex: 0 0 100%;
			max-width: 100%;
			margin-top: 15px;
		}	
	}
}
.sct-description-tab {
	padding: 15px 0;
	margin-top: 15px;
	#description_reviews_tabs {
		margin-bottom: 10px;
		li {
			a {
				display: block;
				font-size: 22px;
				font-weight: bold;
				color: $dark-color;
				padding: 10px 15px;
				position: relative;
				@media (max-width: 1199px){
					font-size: 20px;
					padding: 10px;
				}
				@media (max-width: 767px){
					font-size: 16px;
				}
				@media (max-width: 359px){
					font-size: 14px;
				}
				&:active,&:hover, &.active {
					color:$theme;
				}
				&:before{
					position: absolute;
					content: '';
					width: 1px;
					height: 40%;
					background-color: #868686;
					left: 0;
					top: 0;
					bottom: 0;
					margin: auto;
				}
			}
			&:first-child{
				a {
					padding-left: 0;
					&:before {
						display: none;
					}
				}
			}
		}
	}
}
