/**
 * This file regroups the rules which apply on elements which are shared between
 * all renderers. For field default rules, see the fields.scss file.
 */

// Invisible modifier (can be inside the view, the button area, ...)
.o_invisible_modifier {
    display: none!important;
}

// Status
// This should normally be put in fields.scss but these classes are used outside
// of `.o_field_widget` so it needs to be placed at an upper level.
.o_status {
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 6px;
    vertical-align: middle;

    background-color: gray('300');

    &.o_status_green {
        background-color: theme-color('success');
    }
    &.o_status_red {
        background-color: theme-color('danger');
    }
}

.o_btn-link-as-button {
    padding: 2px;
    font-size:12px;

    & > a {
        margin-bottom: -4px !important;
        margin-left: 3px;
    }
}

// No content helper
.o_view_nocontent {
    @include o-position-absolute(20%, 0, 0, 0);
    pointer-events: none;
    z-index: 1;

    .o_nocontent_help {
        @include o-nocontent-empty;

        .o_view_nocontent_smiling_face:before {
            @extend %o-nocontent-init-image;
            @include size(120px, 140px);
            background: transparent url(/web/static/src/img/ams_logo.svg) no-repeat center;
        }

        .o_view_nocontent_neutral_face:before {
            @extend %o-nocontent-init-image;
            @include size(120px, 140px);
            background: transparent url(/web/static/src/img/ams_logo.svg) no-repeat center;
        }

        .o_view_nocontent_empty_folder:before {
            @extend %o-nocontent-empty-document;
        }

        .o_empty_custom_dashboard {
            min-height: 327px;
            margin-left: -$grid-gutter-width/2;
            margin-top: -$grid-gutter-width/2;
            padding: 100px 0 0 137px;
            background: transparent url(/web/static/src/img/graph_background.png) no-repeat 0 0;
        }
    }
}
